.input__container{
    position: absolute;
    top: 7%;
    left: 50%;
    display: flex;
    justify-content: space-evenly;
    transform: translate(-50%, -50%);
    width: 60%;
}
input, button{
    padding: 10px;
    border-radius: 6px;
    margin: 3px;
}
button{
    background-color: rgb(19, 126, 197);
    color:white;
    border:none;
    border-radius:2px;
    
}

form{
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -18px;
}