.General__Table{
      position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Transportation__text,.planner__text{
  text-align: center;
  margin-top:10px;
}

.TransportationQueue__section,.planner__section{
  width:100%;
  padding:0px 20px 0px 20px;
}