.General__Table{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85vh;
}

.Transportation__text,.planner__text{
  text-align: center;
  margin-top:10px;
}

.TransportationQueue__section,.planner__section{
  width: 100%;
    height: 58vh;
    padding: 0px 20px 0px 20px;
}